@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-wider:hover {
  letter-spacing: 1px; /* Increase letter spacing on hover */
}

.header-active {
  color: #065CBA;
  margin-bottom: 2px solid #FFC000;
}
